<!DOCTYPE root[<!ELEMENT SecondLevelDT1 ANY>
<!ATTLIST SecondLevelDT1 id ID #REQUIRED>
<!ELEMENT FirstLevelDT ANY>
<!ATTLIST FirstLevelDT id ID #REQUIRED>
<!ELEMENT Dt1 ANY>
<!ATTLIST Dt1 id ID #REQUIRED>
 

]>
<root id="-1">
  <Dt1 id="1052" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2014-11-10T17:54:01" updateDate="2014-11-10T18:00:14" nodeName="test 1" urlName="test-1" path="-1,1052" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="1" template="1050" nodeTypeAlias="Dt1">
    <heading><![CDATA[First Test]]></heading>
    <intro><![CDATA[First test intro
text]]></intro>
    <body><![CDATA[<p>Hello, <a href="http://google.com"><strong>World</strong></a>!</p>]]></body>
    <mainImage>1053</mainImage>
  </Dt1>
  <Dt1 id="1066" parentID="-1" level="1" creatorID="1" sortOrder="1" createDate="2014-11-15T15:12:03" updateDate="2014-11-15T15:12:03" nodeName="test" urlName="test" path="-1,1066" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="1" template="1050" nodeTypeAlias="Dt1" />
  <FirstLevelDT id="1067" parentID="-1" level="1" creatorID="1" sortOrder="2" createDate="2014-11-15T15:32:23" updateDate="2014-11-15T15:32:35" nodeName="firsl-level-dt1" urlName="firsl-level-dt1" path="-1,1067" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="FirstLevelDT">
    <firstlevelproperty1><![CDATA[ha]]></firstlevelproperty1>
    <relatedLinks><![CDATA[[
  {
    "caption": "test",
    "link": "http://google",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "test"
  }
]]]></relatedLinks>
    <SecondLevelDT1 id="1068" parentID="1067" level="2" writerID="1" creatorID="1" nodeType="1061" template="1058" sortOrder="0" createDate="2014-11-15T15:33:55" updateDate="2014-11-15T15:34:33" nodeName="2l1" urlName="2l1" writerName="admin" creatorName="admin" path="-1,1067,1068" isDoc="">
      <firstlevelproperty1>das</firstlevelproperty1>
      <relatedLinks><![CDATA[[
  {
    "caption": "asdas",
    "link": "http://dasdas",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "asdas"
  }
]]]></relatedLinks>
      <mixin1Property4>14</mixin1Property4>
      <mixin2Property4>24</mixin2Property4>
      <property1>dasda</property1>
      <mixin1Prop1>dasd</mixin1Prop1>
      <mixin2Prop1>dasdas</mixin2Prop1>
      <property3>default value</property3>
      <mixin1Prop2>12</mixin1Prop2>
      <mixin1Property3>13</mixin1Property3>
      <mixin2Prop2>22</mixin2Prop2>
      <mixin2Property3>23</mixin2Property3>
    </SecondLevelDT1>
  </FirstLevelDT>
</root>