<!DOCTYPE root[<!ELEMENT Dt1 ANY>
<!ATTLIST Dt1 id ID #REQUIRED>
 

]>
<root id="-1">
  <Dt1 id="1052" parentID="-1" level="1" writerID="1" creatorID="1" nodeType="1051" template="1050" sortOrder="0" createDate="2014-11-10T17:54:01" updateDate="2014-11-10T18:00:16" nodeName="test 1" urlName="test-1" writerName="admin" creatorName="admin" path="-1,1052" isDoc="" isDraft="">
    <heading>First Test</heading>
    <intro><![CDATA[First test intro
text]]></intro>
    <body><![CDATA[<p>Hello, <a href="http://google.com"><strong>World</strong></a>!</p>]]></body>
    <mainImage>1053</mainImage>
  </Dt1>
</root>