<!DOCTYPE root[<!ELEMENT Level22 ANY>
<!ATTLIST Level22 id ID #REQUIRED>
<!ELEMENT Level21 ANY>
<!ATTLIST Level21 id ID #REQUIRED>
<!ELEMENT Level11 ANY>
<!ATTLIST Level11 id ID #REQUIRED>
 
<!ELEMENT Dt1 ANY>
<!ATTLIST Dt1 id ID #REQUIRED>
<!ELEMENT FirstLevelDT ANY>
<!ATTLIST FirstLevelDT id ID #REQUIRED>
<!ELEMENT FourthLevelDT ANY>
<!ATTLIST FourthLevelDT id ID #REQUIRED>
<!ELEMENT Level1 ANY>
<!ATTLIST Level1 id ID #REQUIRED>
<!ELEMENT Level2 ANY>
<!ATTLIST Level2 id ID #REQUIRED>
<!ELEMENT SecondLevelDT1 ANY>
<!ATTLIST SecondLevelDT1 id ID #REQUIRED>
<!ELEMENT SecondLevelDT2 ANY>
<!ATTLIST SecondLevelDT2 id ID #REQUIRED>
<!ELEMENT SecondLevelDT3 ANY>
<!ATTLIST SecondLevelDT3 id ID #REQUIRED>
<!ELEMENT ThirdLevelDT ANY>
<!ATTLIST ThirdLevelDT id ID #REQUIRED>

]>
<root id="-1">
  <Dt1 id="1052" parentID="-1" level="1" creatorID="1" sortOrder="0" createDate="2014-11-10T17:54:01" updateDate="2014-11-10T18:00:14" nodeName="test 1" urlName="test-1" path="-1,1052" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="1" template="1050" nodeTypeAlias="Dt1">
    <heading><![CDATA[First Test]]></heading>
    <intro><![CDATA[First test intro
text]]></intro>
    <body><![CDATA[<p>Hello, <a href="http://google.com"><strong>World</strong></a>!</p>]]></body>
    <mainImage>1053</mainImage>
  </Dt1>
  <Dt1 id="1066" parentID="-1" level="1" creatorID="1" sortOrder="1" createDate="2014-11-15T15:12:03" updateDate="2014-11-15T15:12:03" nodeName="test" urlName="test" path="-1,1066" isDoc="" nodeType="1051" creatorName="admin" writerName="admin" writerID="1" template="1050" nodeTypeAlias="Dt1" />
  <FirstLevelDT id="1067" parentID="-1" level="1" creatorID="1" sortOrder="2" createDate="2014-11-15T15:32:23" updateDate="2014-11-15T15:32:35" nodeName="firsl-level-dt1" urlName="firsl-level-dt1" path="-1,1067" isDoc="" nodeType="1060" creatorName="admin" writerName="admin" writerID="1" template="1055" nodeTypeAlias="FirstLevelDT">
    <firstlevelproperty1><![CDATA[ha]]></firstlevelproperty1>
    <relatedLinks><![CDATA[[
  {
    "caption": "test",
    "link": "http://google",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "test"
  }
]]]></relatedLinks>
    <SecondLevelDT1 id="1068" parentID="1067" level="2" creatorID="1" sortOrder="0" createDate="2014-11-15T15:33:55" updateDate="2014-11-15T15:34:33" nodeName="2l1" urlName="2l1" path="-1,1067,1068" isDoc="" nodeType="1061" creatorName="admin" writerName="admin" writerID="1" template="1058" nodeTypeAlias="SecondLevelDT1">
      <firstlevelproperty1><![CDATA[das]]></firstlevelproperty1>
      <relatedLinks><![CDATA[[
  {
    "caption": "asdas",
    "link": "http://dasdas",
    "newWindow": false,
    "edit": false,
    "isInternal": false,
    "type": "external",
    "title": "asdas"
  }
]]]></relatedLinks>
      <mixin1Property4><![CDATA[14]]></mixin1Property4>
      <mixin2Property4><![CDATA[24]]></mixin2Property4>
      <property1><![CDATA[dasda]]></property1>
      <mixin1Prop1><![CDATA[dasd]]></mixin1Prop1>
      <mixin2Prop1><![CDATA[dasdas]]></mixin2Prop1>
      <property3><![CDATA[default value]]></property3>
      <mixin1Prop2><![CDATA[12]]></mixin1Prop2>
      <mixin1Property3><![CDATA[13]]></mixin1Property3>
      <mixin2Prop2><![CDATA[22]]></mixin2Prop2>
      <mixin2Property3><![CDATA[23]]></mixin2Property3>
    </SecondLevelDT1>
  </FirstLevelDT>
  <Level1 id="1071" parentID="-1" level="1" creatorID="1" sortOrder="3" createDate="2014-11-21T20:50:42" updateDate="2014-11-21T20:50:42" nodeName="level1" urlName="level1" path="-1,1071" isDoc="" nodeType="1069" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Level1">
    <Level2 id="1072" parentID="1071" level="2" creatorID="1" sortOrder="0" createDate="2014-11-21T20:50:50" updateDate="2014-11-21T20:50:50" nodeName="level2" urlName="level2" path="-1,1071,1072" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Level2" />
    <Level2 id="1073" parentID="1071" level="2" creatorID="1" sortOrder="1" createDate="2014-11-21T20:51:18" updateDate="2014-11-21T20:51:18" nodeName="level2-with-value2" urlName="level2-with-value2" path="-1,1071,1073" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Level2">
      <level2Prop2><![CDATA[level-2-property-2-value]]></level2Prop2>
    </Level2>
    <Level2 id="1074" parentID="1071" level="2" creatorID="1" sortOrder="2" createDate="2014-11-24T10:17:54" updateDate="2014-11-24T10:18:26" nodeName="level-2-after-migration" urlName="level-2-after-migration" path="-1,1071,1074" isDoc="" nodeType="1070" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Level2">
      <level1Prop1><![CDATA[l1p1]]></level1Prop1>
      <level1Prop2><![CDATA[l1p2]]></level1Prop2>
      <level2Prop2><![CDATA[l2p2]]></level2Prop2>
      <level2Prop1><![CDATA[l2p1]]></level2Prop1>
    </Level2>
  </Level1>
  <Level11 id="1078" parentID="-1" level="1" creatorID="1" sortOrder="4" createDate="2014-11-24T10:44:56" updateDate="2014-11-24T10:44:56" nodeName="Level 1.1" urlName="level-11" path="-1,1078" isDoc="" nodeType="1075" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Level11">
    <level1Prop1><![CDATA[l11 p1]]></level1Prop1>
    <level1Prop2><![CDATA[l11 p2]]></level1Prop2>
    <Level21 id="1079" parentID="1078" level="2" creatorID="1" sortOrder="0" createDate="2014-11-24T10:47:10" updateDate="2014-11-24T10:47:10" nodeName="level21" urlName="level21" path="-1,1078,1079" isDoc="" nodeType="1076" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Level21">
      <level1Prop1><![CDATA[l11 p1]]></level1Prop1>
      <level1Prop2><![CDATA[l11 p2]]></level1Prop2>
      <level21Prop1><![CDATA[l21 p1]]></level21Prop1>
      <level21Prop2><![CDATA[l21 p2]]></level21Prop2>
      <moveToBase><![CDATA[mtb]]></moveToBase>
      <moveToBase2><![CDATA[mtb2]]></moveToBase2>
    </Level21>
    <Level22 id="1080" parentID="1078" level="2" creatorID="1" sortOrder="1" createDate="2014-11-24T10:47:34" updateDate="2014-11-24T10:47:34" nodeName="level22" urlName="level22" path="-1,1078,1080" isDoc="" nodeType="1077" creatorName="admin" writerName="admin" writerID="1" template="0" nodeTypeAlias="Level22">
      <level1Prop1><![CDATA[l11 p1]]></level1Prop1>
      <level1Prop2><![CDATA[l11 p2]]></level1Prop2>
      <level22Prop1><![CDATA[l22 p1]]></level22Prop1>
      <level22Prop2><![CDATA[l22 p2]]></level22Prop2>
      <moveToBase><![CDATA[mtb]]></moveToBase>
    </Level22>
  </Level11>
</root>